html {
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
      background: #ddd;
	}
	::-webkit-scrollbar-thumb {
		background: #333;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #222;
	}
}
body {
	margin: 0;
	padding: 0;
}
.Main {
	background-color: #222;
	display: flex;
	// min-height: 100vh;
	height: 100%;
	max-width: 100%;
	color: #eee;
	position: relative;
}
